<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="end">
          <ion-button [routerLink]="['/login']">
            <ion-icon slot="icon-only" name="log-in"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/info']">
              <ion-icon slot="icon-only" name="information-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-title align="center">Me&MyShop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align="center" color="danger"> 
  <button [routerLink]="['/login']" class = "button button-full"> 
      login
   </button>
</ion-content>